<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>About</h1>
    <a href="/">Home</a>
    <a href="/works">Works</a>
    <div id="main">
      <p>
        Kevin Garnett was a ferocious competitor, a passionate, intense,
        hyper-focused player on the hardwood who enjoyed verbal sparring. At
        6’11”, with his long, wiry frame, Kevin was not the typical bruising
        power forward. His speed, strength, and athleticism paired with an
        effective jump shot and ball-handling abilities, made him a tough
        opponent.
      </p>
      <br />
      <p>
        Garnett had a long and distinguished 21-year career in the NBA, playing
        for the Minnesota Timberwolves, Boston Celtics, and Brooklyn Nets.
        Selected by Minnesota with the fifth overall pick in the first round of
        the 1995 NBA Draft, Kevin was the first player drafted directly from
        high school in twenty years. He led the Timberwolves to the playoffs
        eight times in his first twelve seasons before he was traded to the
        Celtics. With Boston, Garnett earned the ultimate goal, an NBA
        championship, in his first season with the team.
      </p>
      <br />
      <br />
      <h3>Awards and Honors</h3>
      <br />
      <ul>
        <li>
          At the end of the 2007-08 season, his first year in Boston, Kevin led
          Boston to the NBA championship. Teaming with Paul Pierce, Ray Allen,
          and Rajon Rondo, Garnett and the Celtics defeated the Los Angeles
          Lakers 4-2 in the NBA Finals. That Lakers team featured Kobe Bryant,
          Pau Gasol, Lamar Odom, Andrew Bynum, and Derek Fisher.
        </li>
        <li>
          Kevin was named the NBA Most Valuable Player in 2003-04, when he led
          the Timberwolves to a 58-24 record and a Midwest Division title.
          Minnesota lost to the Lakers in the Western Conference Finals. Garnett
          averaged 24.2 points, 13.9 rebounds, 5.0 assists, 1.5 steals, and 2.2
          blocks per game that year.
        </li>
        <li>
          Garnett was named the NBA Defensive Player of the Year in 2007-08. He
          was All-Defensive First team nine times and All-Defensive Second Team
          three times during his career.
        </li>
        <li>
          Kevin was a fifteen-time NBA All-Star and in 2003 he won the All-Star
          Game Most Valuable Player award.
        </li>
        <li>
          Garnett was a nine-time All-NBA selection. He made the All-NBA First
          Team four times, the All-NBA Second Team three times, and the All-NBA
          Third Team twice.
        </li>
      </ul>
      <br />
      <h3>Points of Interest</h3>
      <br />
      <ul>
        <li>
          Kevin led the NBA in rebounding four in four consecutive seasons. From
          2003-04 through 2006-07, he averaged 13.9, 13.5, 12.7, and 12.8
          rebounds, respectively.
        </li>
        <li>
          In 2016, ESPN ranked Garnett as the fifth greatest power forward in
          history. The first four, in order, were Tim Duncan, Karl Malone, Dirk
          Nowitzki, and Charles Barkley. Some may argue the order, but none will
          argue that Kevin is one of the best power forwards of all time.
        </li>
        <li>
          Garnett, also called KG, received the nickname “The Big Ticket”
          because he was the main reason that people came to watch the
          Timberwolves play.
        </li>
        <li>
          Kevin is the only player in history to record over 25,000 points,
          10,000 rebounds, 5,000 assists, 1,500 steals, and 1,500 blocked shots
          during his NBA career.
        </li>
        <li>
          Garnett finished his NBA career with averages of 17.8 points, 10.0
          rebounds, and 3.7 assists per game.
        </li>
      </ul>
    </div>
  </body>
</html>
