<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Kevin Garnett</h1>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <br />
    <div id="garnett-jersey">
      <img class="garnett5" src="/images/garnett.jpg" alt="Garnett 5" />
    </div>
  </body>
</html>
